@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400);

body {
    background: url('../img/greyzz.png') repeat;
    padding: 20px;
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-decoration: underline;
}

.image {
    float: left;
    padding: 20px;
    margin: 10px;
    border: 2px dotted darkred;
}

.text-block {
    padding: 0 20px;
}

#about p {
    text-indent: 40px;
}

#about p::first-letter {
    font-size: 40px;
    color: green;
}

i {
    font-size: 20px;
    font-weight: bold;
}

footer {
    text-align: center;
}

a {
    font-size: 18px;
    color: green;
    padding: 5px;
    margin: 0 5px;
}

nav a {
    text-decoration: none;
    font-size: 30px;
    margin: 0 10px;
    color: #2cb8a4;
    padding: 10px;
}

nav a:hover {
    background: #e7e7e7;
}

nav a:active {
    color: #49d1ff;
}

nav {
    text-align: center;
}

#register, #feedback {
    background: #87c8f4;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
}

#register:after {
    content: "I have read and agree to the Terms of Use";
    color: #0300ff;
    font-weight: bold;
}